[submodule "docker/aichallenge/aichallenge_ws/src/aichallenge_submit/control_command_setter"]
	path = docker/aichallenge/aichallenge_ws/src/aichallenge_submit/control_command_setter
	url = git@github.com:bushio/control_command_setter.git
