[submodule "docker/aichallenge/aichallenge_ws/src/aichallenge_submit/vehicle_inputs_setter"]
	path = docker/aichallenge/aichallenge_ws/src/aichallenge_submit/vehicle_inputs_setter
	url = git@github.com:bushio/vehicle_inputs_setter.git
